@charset "UTF-8";

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-btn {
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.subscribe-btn:hover {
  background: #0056b3;
}

.parent {
position: relative;
/* 부모 요소에 position: relative 추가 */
}

body {
	font-family: 'IBM Plex Sans KR', sans-serif;
}

td {
	width: 200px;
	text-align: center;
}

.top0 {
	background: gray;
	color: green;
}

.down {
	background: green;
	color: white;
}

.bossid {
	text-align: center;
	position: relative;
	left: 1000px; 
	top: 0px;
	z-index: 100;
}

.bosslogout {
	text-align: center;
	position: absolute;
	right: 80px;
	top: 180px;
	z-index: 100;
}
.bosslogin {
	text-align: center;
	position: absolute;
	right: 80px;
	top: 180px;
	z-index: 100;
}

#search {
	position: relative;
	left: 430px;
	bottom: 25px;
}

#main {
	position: relative;
	left: 300px;
}

#main2 {
	position: relative;
	left: 300px;
	bottom: 30px;
}