<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 
     별명을 지어서 사용 -->
   <typeAliases>
      <typeAlias type="com.mat.zip.register.MZInfoVO" alias="mzInfoVO"></typeAlias>
      <typeAlias type="com.mat.zip.register.RestaurantVO" alias="restaurantVO"></typeAlias>
      <typeAlias type="com.mat.zip.boss.BoardVO" alias="boardVO"></typeAlias>
      <typeAlias type="com.mat.zip.boss.ComVO" alias="ComVO"></typeAlias>
      <typeAlias type="com.mat.zip.boss.Boss_memberVO" alias="boss_memberVO"></typeAlias>
      <typeAlias type="com.mat.zip.boss.MemberVO" alias="memberVO"></typeAlias>
		<typeAlias type="com.mat.zip.point.gifticonVO" alias="gifticonVO"></typeAlias>
		<typeAlias type="com.mat.zip.point.ProductPointVO" alias="productPointVO"></typeAlias>
		<typeAlias type="com.mat.zip.point.PointExchangeHistoryVO" alias="PointExchangeHistoryVO"></typeAlias>
		<typeAlias type="com.mat.zip.point.PointSaveHistoryVO" alias="PointSaveHistoryVO"></typeAlias>
		<typeAlias type="com.mat.zip.point.PointDetailHistoryVO" alias="PointDetailHistoryVO"></typeAlias>
	</typeAliases>
   <mappers>
   <!-- SQL문 정의하는 파일들의 목록을 지정. -->
      <mapper resource="mapper/mzInfoMapper.xml" />
      <mapper resource="mapper/restaurantMapper.xml" />
      <mapper resource="mapper/BoardMapper.xml" />
      <mapper resource="mapper/ComMapper.xml" />
      <mapper resource="mapper/MemberMapper.xml" />
      <mapper resource="mapper/BossMapper.xml" />
		<mapper resource="mapper/gifticonMapper.xml" />
		<mapper resource="mapper/productPointMapper.xml" />
		<mapper resource="mapper/PointExchangeHistoryMapper.xml" />
		<mapper resource="mapper/pointMapper.xml" />
   </mappers>
</configuration>
