<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 
     별명을 지어서 사용 -->
   <typeAliases>
      <typeAlias type="com.mat.zip.register.MZInfoVO" alias="mzInfoVO"></typeAlias>
      <typeAlias type="com.mat.zip.register.RestaurantVO" alias="restaurantVO"></typeAlias>
      
      <typeAlias type="com.mat.zip.board.PostVO" alias="postVO"></typeAlias>
      <typeAlias type="com.mat.zip.board.PostComVO" alias="postComVO"></typeAlias>
      <typeAlias type="com.mat.zip.board.PhotoVO" alias="photoVO"></typeAlias>
      <typeAlias type="com.mat.zip.board.PhotoComVO" alias="photoComVO"></typeAlias>
      <typeAlias type="com.mat.zip.board.ReviewVO" alias="reviewVO"></typeAlias>
      <typeAlias type="com.mat.zip.board.ReviewComVO" alias="reviewComVO"></typeAlias>
   </typeAliases>
   <mappers>
   <!-- SQL문 정의하는 파일들의 목록을 지정. -->
      <mapper resource="mapper/mzInfoMapper.xml" />
      <mapper resource="mapper/restaurantMapper.xml" />
      
      <mapper resource="mapper/PostMapper.xml" />
      <mapper resource="mapper/PostComMapper.xml" />
      <mapper resource="mapper/PhotoMapper.xml" />
      <mapper resource="mapper/PhotoComMapper.xml" />
      <mapper resource="mapper/ReviewMapper.xml" />
      <mapper resource="mapper/ReviewComMapper.xml" />
   </mappers>
</configuration>
