<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mzlist">

	<select id="one" parameterType="String" resultType="mzlistVO">
		select *
		from mzlist
		where landNumAddress = #{landNumAddress}
	</select>
	
	
	<select id="all" resultType="mzlistVO">
		select *
		from mzlist
	</select>
	
	
	<select id="han" parameterType="String" resultType="mzlistVO">
		select *
		from mzlist
		where food = #{food}
	</select>
	
	<select id="jjung" parameterType="String" resultType="mzlistVO">
		select *
		from mzlist
		where food = #{food}
	</select>
	
	<select id="ill" parameterType="String" resultType="mzlistVO">
		select *
		from mzlist
		where food = #{food}
	</select>
	
	<select id="gyung" parameterType="String" resultType="mzlistVO">
		select *
		from mzlist
		where food = #{food}
	</select>
	
	<select id="boon" parameterType="String" resultType="mzlistVO">
		select *
		from mzlist
		where food = #{food}
	</select>
	
	

</mapper>