<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mzRegisterInfo">
	
	<!-- 맛집 정보를 등록한다. 첫번째는 오토 인크리먼트 null-->
	<insert id="create" parameterType="mzRegisterInfoVO">
		insert into mzRegisterInfo values (null, #{userId}, #{storeAddress}, #{storePhoneNumber},#{buyTime})
	</insert>

	<!--mzRegisterInfo DB 에 해당 아이디로 등록한 정보가 있는지 유효성 검사. -->
	<!-- 카운트 반환 -->
	<select id="countInfoInMZ" parameterType="mzRegisterInfoVO" resultType="Integer">
    	SELECT IFNULL(count(*), 0) from mzRegisterInfo 
    	where userId = #{userId} 
    	and (storeAddress = #{storeAddress} or storePhoneNumber = #{storePhoneNumber})
	</select>
	
	<select id="idInfoAll" parameterType="String" resultType="mzRegisterInfoVO">
    	SELECT * FROM mzRegisterInfo where userID = #{userID}
	</select>
	
	<!-- 추가적 관리를 위한 대비 -->
	<delete id="del"  parameterType="Integer">
		delete from mzRegisterInfo where no = #{no}
	</delete>
	
	<select id="sel" parameterType="String" resultType="mzRegisterInfoVO">
    	SELECT * FROM mzRegisterInfo WHERE userID = #{userID}
	</select>
	
	<select id="all" resultType="mzRegisterInfoVO">
    	SELECT * FROM mzRegisterInfo
	</select>
	<!--대비 end  -->
	
	
	
	
</mapper>











