<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mat.zip.mapper.PhotoMapper">

	<!-- 글쓰기 -->
	<insert id="insertPhoto" 
			parameterType="photoVO"
			useGeneratedKeys="true" 
			keyProperty="photo_id"
			>
		insert into cs_photo (user_id, photo_cg, category, photo_title, photo_content, photo_file, created_date, updated_date, photo_view_count)
		values (#{user_id}, #{photo_cg}, #{category}, #{photo_title}, #{photo_content}, #{photo_file}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{photo_view_count})
	</insert>
	
	<!-- 글 수정 -->
	<update id="updatePhoto"  parameterType="photoVO">
		update cs_photo set 
			photo_cg = #{photo_cg}, 
			category = #{category},
			photo_title = #{photo_title}, 
			photo_content = #{photo_content}, 
			photo_file = #{photo_file}, 
			updated_date = CURRENT_TIMESTAMP
		where photo_id = #{photo_id} and user_id = #{user_id}
	</update>
	
	<!-- 게시글 조회수 증가 -->
    <update id="incrementPhotoViewCount" parameterType="int">
        UPDATE cs_photo set 
        photo_view_count = photo_view_count + 1
        WHERE photo_id = #{post_id}
    </update>
	
	<!-- 사진글 삭제 -->
	<delete id="deletePhoto" parameterType="int">
		DELETE FROM cs_photo
		WHERE photo_id = #{photo_id}
	</delete>
	
	<!-- 사진글 상세정보 조회 -->
	<select id="onePhotoId" parameterType="int"
		resultType="photoVO">
		SELECT * FROM cs_photo WHERE photo_id =
		#{photo_id}
	</select>
	
	<!-- 사진게시판 전체 list -->
	<select id="allPhoto" resultType="photoVO">
		SELECT * FROM
		cs_photo
	</select>

	<!-- 사진게시판 검색 (제목) -->
	<select id="searchPhoto" parameterType="String" resultType="photoVO">
	    SELECT * FROM cs_photo 
	    WHERE photo_title LIKE CONCAT('%', #{searchTerm}, '%')
	</select>


</mapper>