<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="usepoint">
	<select id="one" resultType="PointSaveHistoryVO">
    	SELECT user_id, SUM(point) as sumpoint
    	FROM multi.pointhistory
    	WHERE user_id = #{user_id}
	</select>
	<select id="all" resultType="PointSaveHistoryVO">
		SELECT * FROM multi.pointhistory WHERE user_id = #{user_id} and type = '적립' ORDER BY createdate ASC
	</select>
	<insert id="insert" parameterType="PointExchangeHistoryVO">
		insert into multi.pointhistory (user_id, type, point, createdate)
		values (#{user_id}, '사용', -#{point}, now());
	</insert>
	<insert id="usedetailinsert">
		insert into multi.pointdetailhistory (user_id, type, `point`, processingdate)
		values (#{user_id}, '사용', #{point}, now());
	</insert>
	
</mapper>