<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postVO">
	
	<!-- 글쓰기 -->
	<insert id="createPost" 
			parameterType="postVO"
			useGeneratedKeys="true" 
			keyProperty="post_id"
			>
		insert into MAT_ZIP.cs_post (user_id, food_cg, category, post_title, post_content, post_file, created_date, updated_date, post_view_count)
		values (#{user_id}, #{food_cg}, #{category}, #{post_title}, #{post_content}, #{post_file}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{post_view_count})
	</insert>
	
	<!-- 글 수정 -->
	<update id="updatePost"  parameterType="postVO">
		update MAT_ZIP.cs_post set 
			food_cg = #{food_cg}, 
			category = #{category},
			post_title = #{post_title}, 
			post_content = #{post_content}, 
			post_file = #{post_file}, 
			updated_date = CURRENT_TIMESTAMP
		where post_id = #{post_id} and user_id = #{user_id}
	</update>
	
	<!-- 게시글 조회수 증가 -->
    <update id="incrementPostViewCount" parameterType="int">
        UPDATE MAT_ZIP.cs_post set 
        post_view_count = post_view_count + 1
        WHERE post_id = #{post_id}
    </update>
	
	<!-- 글 삭제 -->
	<delete id="deletePost"  parameterType="postVO">
		delete from MAT_ZIP.cs_post 
		where post_id = #{post_id} and user_id = #{user_id}
	</delete>
	
	<!-- 조건별 검색 : post_id로 검색하기-->
	<select id="onePostId" parameterType="int" resultType="postVO">
		select * from MAT_ZIP.cs_post where post_id = #{post_id}
	</select>
	
	<!-- 조건별 검색 : user_id로 검색하기-->
	<select id="onePostUserid" parameterType="String" resultType="postVO">
		select * from MAT_ZIP.cs_post where user_id = #{user_id}
	</select>
	
	<!-- 조건별 검색 : food_cg로 검색하기-->
	<select id="onePostFoodcg" parameterType="String" resultType="postVO">
		select * from MAT_ZIP.cs_post where food_cg = #{food_cg}
	</select>
	
	
	<!-- 자유게시판 전체 검색 -->
	<select id="allPost"  resultType="postVO">
		select * from MAT_ZIP.cs_post
	</select>	

</mapper>